{% extends "avaliacao/base.html" %}  <!-- Note o novo caminho -->

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Login do Sistema</h2>
    <form method="post" class="col-md-6">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
{% endblock %}